body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #3E3F21;
  padding: 10px;
  text-align: center;
}

header .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-logo img {
  width: 40px;
  height: 40px;
}

header .header-logo span {
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 86.8vh;
  background-color: #f3eccd;
}

.login-container {
  width: 100%;
  max-width: 600px;
}

.login-box {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  text-align: center;
}

input[type="user"], select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  width: 100%;
  padding: 10px;
  background-color: #727348;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #414523;
}

.social-login-G {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.social-login-G button {
  background-color: #a92e2e;
  margin-bottom: 10px;
}
.social-login-A button {
  background-color: #7c7c7c;
  margin-bottom: 10px;
}
.social-login-C button {
  background-color: #22c35a;
  margin-bottom: 10px;
}
.social-login-F button {
  background-color: #4868c8;
  margin-bottom: 10px;
}
