/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #FFF;
}

/* HEADER */
.topbar {
  width: 100%;
  height: 68px;
  background: #4B4C27;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  width: 45px;
}

.header-logo span {
  color: white;
  font-size: 20px;
  margin-left: 12px;
}

.menu-icon {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* CONTENEDOR */
main {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  background: #F3EEDC;
  min-height: calc(100vh - 68px);
}

/* CAJA CENTRAL */
.login-box {
  background: #FAF1E4;
  width: 520px;
  padding: 35px;
  border-radius: 25px;
  position: relative;
}

/* BOTÓN CERRAR */
.close-btn {
  background: none;
  border: none;
  font-size: 28px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

/* TITULOS */
.title {
  text-align: center;
  font-size: 22px;
  margin-top: 5px;
  font-weight: bold;
}

.line {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 18px 0;
}

.welcome {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* FORMULARIO */
.label {
  font-size: 13px;
  color: #444;
}

.select-wrapper select {
  width: 100%;
  padding: 12px;
  margin: 5px 0 12px;
  border: 1px solid #C9C9C9;
  border-radius: 6px;
  font-size: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #C9C9C9;
  border-radius: 6px;
  font-size: 15px;
}

.text-info {
  font-size: 12px;
  color: #D4821F;
  margin-top: 8px;
  margin-bottom: 20px;
}

/* BOTÓN PRINCIPAL */
.btn-main {
  width: 100%;
  background: #9FDAC7;
  border: none;
  padding: 12px;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.create {
  text-align: center;
  margin: 12px 0;
  color: #444;
}

/* Login */
.login-link {
    margin: 15px 0;
    text-align: center;
}

.login-link a {
    color: #2cc1b4;
    text-decoration: none;
}

/* BOTÓN PRINCIPAL */
.btn-create {
  width: 100%;
  background: #F3EEDC;
  border: none;
  padding: 12px;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.create {
  text-align: center;
  margin: 12px 0;
  color: #444;
}

/* BOTONES SOCIALES */
.btn-social {
  width: 100%;
  background: white;
  border: 1px solid #C9C9C9;
  padding: 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 12px;
  cursor: pointer;
}

.btn-social img {
  width: 22px;
  margin-right: 10px;
}

.google img { content: url("/img/google.png"); }
.apple img { content: url("/img/apple.png"); }
.mail img { content: url("/img/mail.png"); }
.facebook img { content: url("/img/facebook.png"); }

.alert-error {
  background: #ffb3b3;
  border-left: 5px solid #e60000;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #800000;
  font-size: 14px;
}

.alert-success {
  background: #c5f7d1;
  border-left: 5px solid #1d9237;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #1d9237;
  font-size: 14px;
}

