/* ================= VIDEO ================= */

.overlay-video {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.overlay-video .video {
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto;
}

.overlay-video .video iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
    display: block;
}
